# Frontend
EXPO_PUBLIC_API_BASE_URL=https://nexdose-backend.onrender.com

# Backend
NODE_ENV=production
PORT=3000
GOOGLE_MAPS_API_KEY=YOUR_GOOGLE_MAPS_API_KEY_HERE
JWT_SECRET=change-me-in-production
UPLOADS_DIR=./backend/uploads
DATABASE_URL=
DATABASE_SSL=true
CORS_ORIGIN=
MQTT_BROKER_URL=mqtt://broker.hivemq.com:1883
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_CLIENT_ID=nexdose-backend
MQTT_TOPIC_PREFIX=nexdose
DISPENSER_TOTAL_SERVOS=3
DISPENSER_TOTAL_DIVISIONS=6

# PostgreSQL
DB_USER=postgres
DB_HOST=localhost
DB_DATABASE=dbnexdose
DB_PASSWORD=1234
DB_PORT=5432
POSTGRES_DB=dbnexdose
POSTGRES_USER=postgres
POSTGRES_PASSWORD=1234
